.main {
  background-color: var(--main-green);
  height: 100vh;
  padding-top: 3rem;
}

.container {
  background-color: var(--main-white);
  height: calc(100vh - 8rem);
  overflow: scroll;
}

.width {
  max-width: 50rem;
  margin: auto;
}

.welcome {
  color: var(--secondary-red);
  margin: 1rem 0.25rem;
}

.listContainer {
  margin: 1rem 0;
}

.rowTitle {
  color: var(--dark-gray);
}

.listHeader {
  display: flex;
  justify-content: space-between;
  padding: 0 0.25rem;
  margin: 0.8rem 0;
}

.rowTitle {
  color: var(--medium-dark-gray);
}

.itemList {
  list-style: none;
  display: flex;
  overflow: scroll;
}

.listItem {
  margin: 0 0.25rem;
}

.primaryButton {
  background-color: var(--secondary-green);
  color: var(--main-white);
  padding: 1rem;
  border-radius: 5px;
  margin: 0.8rem 0.25rem;
  display: block;
  width: fit-content;
  text-decoration: none;
}

.footer {
  position: fixed;
  bottom: 0;
  background-color: var(--main-white);
  height: 5rem;
  width: 100%;
}

.footerList {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
